* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

nav {
    height: 80px;
    width: 100%;
    background-color: #9EBEC6;
}

lable.logo {
    font-size: 20px;
    /*line-height: 80px;*/
    /*padding: 0 100px;*/
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav li {
    display: inline-block;
    margin: 0 15px;
    text-transform: capitalize;
    margin-top: 30px;
}

nav a {
    color: black;
    border: solid transparent;
    padding: 5px;
}

.active,
a:hover {
    border: 1px solid white;
    transition: .5s;
}

#logo_img {
    width: 100px;
    height: auto;
}

.name {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    padding-left: 120px;
}


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
        "a a"
        "b c"
        "d e"
        "f f"
        "g h"
        "i i"
        "j j";
}

.container section {
    padding: 15px;
}

.container section input {
    width: 100%;
    height: 30px;
}

.a {
    grid-area: a;
    background-color: #FBC4AB;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.b {
    grid-area: b;
    margin-left: 10%;
    margin-right: 10%;
}


.c {
    grid-area: c;
    margin-left: 10%;
    margin-right: 10%;
}


.d {
    grid-area: d;
    margin-left: 10%;
    margin-right: 10%;
}

.e {
    grid-area: e;
    margin-left: 10%;
    margin-right: 10%;
}

.f {
    grid-area: f;
    margin-left: 5%;
    margin-right: 5%;
}

.g {
    grid-area: g;
    margin-left: 10%;
    margin-right: 10%;
}

.h {
    grid-area: h;
    margin-left: 10%;
    margin-right: 10%;
}

.i {
    grid-area: i;
    margin-left: 5%;
    margin-right: 5%;
}

.j {
    grid-area: j;
    margin-left: 42%;
    margin-right: 42%;
}

.footer {
    background-color: #FBC4AB;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.footer ul {
    display: flex;
}

.footer ul li {
    padding: 15px;
}

@media only screen and (max-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i"
        "j";
    }

    .container section {
        margin-left: 15px;
        margin-right: 15px
    }

}
