body {
    background-image: url("calendar-backround.jpg");
    
}
.card:hover {
    box-shadow: 12px 12px 2px 1px rgba(21, 97, 239, 0.86);
}

.calendar-body{
    margin-top: 4rem;
    /*padding-left: 20rem;*/
    margin:0 auto;
}

.cal-container img{
    padding-left: 20px;
    width:200px;
    height: 200px;
}

.card {
    margin: 0 auto;
    width: 18rem;
    margin-bottom: 2rem;
    background-color: #000;
     color: #fff;
    opacity: .9;
}

.calendarBody {
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.title{
    text-align: center;
}

#calendarTitle {
    width: 10%;
}